@media (min-width: 1290px) and (max-width: 1430px) {
    .contain-template {
        width: 35%;
    }
}

@media (min-width: 1199px) and (max-width: 1290px) {
    .contain-template {
        width: 35%;
    }
}

@media (min-width: 1199px) and (max-width: 1260px) {
    .enq-sec h5.t1 {
        font-size: 21px;
    }

    .pay1 .abt-det p {
        font-size: 15px;
    }
}

@media (min-width: 850px) and (max-width: 1199px) {
    .contain-template {
        width: 47%;
    }

    .enq-sec h5.t1 {
        font-size: 19px;
    }

    .pay1 .abt-det p {
        font-size: 14px;
    }

    h2.t1,
    h1.t1 {
        font-size: 26px;
    }
}

@media (min-width: 767px) and (max-width: 850px) {
    .contain-template {
        width: 53%;
    }

    .enq-sec h5.t1 {
        font-size: 19px;
        padding: 8px 0;
    }

    h2.t1,
    h1.t1 {
        font-size: 26px;
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    .contain-template {
        width: 75%;
    }
}

@media (min-width: 445px) and (max-width: 575px) {
    .contain-template {
        width: 100%;
    }

    .blob.blob-top,
    .blob.blob-bottom {
        display: none;
    }

    .enq-sec h5.t1 {
        font-size: 20px;
        padding: 8px 0;
    }

    .payment-button {
        padding: 8px 9px;
    }

    .template-bg {
        padding-top: 0 !important;
    }

    .mble-2clm {
        width: 50%;
    }
}

@media (min-width: 300px) and (max-width: 390px) {
    .payment-button {
        padding: 8px 9px;
    }

    .abt-det {
        column-gap: 0;
    }

    .mble-2clm {
        width: 50%;
    }



}

@media (min-width: 300px) and (max-width: 375px) {
    .enq-sec h5.t1 {
        font-size: 12px !important;
        padding: 4px 5px !important;
    }

    .m-icons a {
        padding: 7px 12px;
        margin-right: 0px;
    }

    .ylw-btn {
        font-size: 13px;
    }
}

@media (min-width: 300px) and (max-width: 445px) {
    .social-icon.t2 a i {
        font-size: 35px;
        padding: 9px 10px;
        margin: 0px 3px;
    }

    .share-head h2.t3, .feed-cmn h2.t3, .feed-head h2.t3, .pay-head h2.t3, .gal-head h2.t3, .abt-head h2.t3, .prod-head h2.t3 {
  font-size: 24px;
    }

    .abt-head h2.t2,
    .prod-head h2.t2,
    .gal-head h2.t2,
    .pay-head h2.t2,
    .feed-head h2.t2,
    .share-head h2.t2,
    .feed-head h2.t2 {
        font-size: 24px;
    }

    .ylw-btn {
        padding: 12px 20px;
    }

    .share-btn.t2 button.sh-qr.hme.t2 {
        padding: 10px;
        font-size: 21px;
    }

    .blob.blob-top,
    .blob.blob-bottom {
        display: none;
    }

    .gallery-btn.t1 {
        font-size: 13px;
    }

    .magnify-icon {
        font-size: 2rem;
    }

    .contain-template {
        width: 100%;
    }

    .mble-2clm {
        width: 50%;
    }



    .payment-button {
        padding: 8px 9px;
    }

    .abt-det {
        column-gap: 0;
    }

    h1.t1 {
        font-size: 44px !important;
    }

    .btn-a {
        width: 130px;
        font-size: 12px;
        padding: 5px 15px;
    }

    .share-btn button {
        font-size: 14px;
    }

    .enq-sec h5.t1 {
        font-size: 18px;
        padding: 0px 5px;
    }

    .enq-sec a {
        font-size: 12px;
        padding: 1px 13px;

    }

    .ylw-btn {
        padding: 2px 20px;
    }

    h2.t1 {
        font-size: 25px;

    }


    .pay1 .abt-det p {
        font-size: 14px;
    }

    .heart-icon {
        left: 33%;
    }

    .gallery-img {
        grid-auto-rows: 140px;
    }

    .template-bg {
        padding-top: 0 !important;
    }
}