/* home component t1*/
.contain-template.back-g.hm {
  background-image: url('../Images/bg/Blob.png'), url('../Images/bg/Blob-1.png');
  background-repeat: no-repeat no-repeat;
  background-position: 0 60%, bottom right;
}

.logo-t1 {
  background: #D6EBDC;
  width: auto;
  top: 16px;
  border-radius: 0 00px 90px 90px;
  padding: 24px 15px;
  text-align: center;
  margin-top: -15px !important;
  margin: auto;
}

.btn-a {
  width: 130px;
  background: #D9D9D9;
  font-size: 17px;
  padding: 5px 20px;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 3px 3px 6px 0px #a9a3a3;
}

.temp-hme.btn1 {
  display: flex;
  gap: 10px;
}

.btn-a a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.infot1 {
  display: flex;
  gap: 27px;
}

.infot1 i {
  color: #2F88FF;
  font-size: 24px;
  line-height: 0px;
}

.infot1 p {
  font-weight: 600;
  font-size: 16px;
}

.social-icon {
  text-align: center;
  font-size: 24px;
}

.social-icon i {
  padding: 5px 10px;
}

.btn-a:hover {
  background: #000;
}

.btn-a:hover a.navi-a {
  color: #fff !important;
}

/* social icon */
.you-tube:hover {
  color: red !important;
}

.linked-in:hover {
  color: blue !important;
}

.insta:hover {
  color: orange !important;
}

.facebook:hover {
  color: blue !important;
}

.blob {
  position: absolute;
  height: auto;
  z-index: 0;
  animation: bounce 4s ease-in-out infinite;
}

.blob-top {
  top: -19px;
  right: 0px;
}

.blob-bottom {
  bottom: 0;
  left: 0;
  animation-delay: 2s;
  width: 275px;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
    /* Adjust the bounce height */
  }
}

/* home component t1 end */

/* about component css */
.contain-template.back-g.abt-t1 {
  background-image: url('../Images/bg/Blob-2.png'), url('../Images/bg/Blob-4.png');
  background-repeat: no-repeat;
  background-position: right 18%, bottom left;
}

.abt-det {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 1rem;
  margin-bottom: 0rem;
}

.label {
  font-weight: bold;
}

.value::before {
  content: " : ";
}

.value {
  word-break: break-word;
}

.spl.abt li::before {
  content: '. ';
  /* Custom numbering */
  font-weight: bold;
  font-size: 33px;
  line-height: 0;
}

/* abount coponent end */

/* Product Component start */
.contain-template.back-g.prod-t1 {
  background-image: url('../Images/bg/Blob-5.png'), url('../Images/bg/Blob-6.png');
  background-repeat: no-repeat;
  background-position: left 8%, right 69%;
}

.prod-det img,
.kfeature img {
  width: 25px;
}

.kfeature img {
  width: 20px;
}

/* .kfeature ul li{
    position: relative;
    padding-left: 24px;
  }
  .kfeature ul li::before{
    content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('../Images/Icons/check.png');
  background-size: contain;
  background-repeat: no-repeat;
  } */

.kfeature ul li img {
  width: 20px;
  margin-right: 5px;
}

.prod-img {
  text-align: center;
}

.enq-sec {
  background: #ECDAC4;
  border-radius: 50px;
  display: flex;
  padding: 10px 25px;
  position: relative;
}

.enq-sec a {
  background: #E3C72C;
  border: 1px solid #E3C72C;
  border-radius: 50px;
  font-size: 16px;
  right: 25px;
  position: absolute;
  padding: 5px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.enq-sec h5.t1 {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  padding: 4px 0;
}

/* Product component end */

/* feature component start */
.contain-template.back-g.featu-t1 {
  background-image: url('../Images/bg/Blob-7.png'), url('../Images/bg/Blob-8.png'), url('../Images/bg/blog-9.png');
  background-repeat: no-repeat;
  background-position: right top, left 38%, right bottom;
}

.fea-det img {
  width: 20px;
}

.fea1 p.strong {
  margin-bottom: 0;
}

/* feature component end */

/* payment component start */
.contain-template.back-g.paym-t1 {
  background-image: url('../Images/bg/Blob.png'), url('../Images/bg/Blob-2.png');
  background-repeat: no-repeat;
  background-position: left 1%, right;
}

.pay1 h6 {
  font-size: 19px;
}

.pay1 img {
  width: 25px;
}

.pay1 .abt-det p {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.pay1 .abt-det {
  grid-template-columns: 46% 54%;
}

.pay-img {
  text-align: center;
}

/* payment component end */

/* gallery component start */
.contain-template.back-g.galy-t1 {
  background-image: url('../Images/bg/Blob-7.png'), url('../Images/bg/Blob-5.png');
  background-repeat: no-repeat;
  background-position: right top, left 90%;
}

.gallry-img {
  text-align: center;
}

.gallry-img img:hover {
  transform: scale(1.09);
}

.gallry-img img {
  transition: 0.5s;
}

/* gallery component end */

/* copy rights */
.copy-cmn {
  text-align: center;
}

.copy-cmn p {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 200;
}

/* copy rights end */
/* share card component start */

.contain-template.back-g.shar-t1 {
  background-image: url('../Images/bg/Blob-2.png'), url('../Images/bg/Blob-4.png');
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.share-btn button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

button.sh-qr:hover {
  background: #d6ebdc !important;
}

button.sve-qr:hover {
  background: #d6ebdc !important;
}

.url-bx {
  background-color: #fff;
  box-shadow: 1px 4px 6px 4px #5a5a5a;
  padding: 12px;
  border-radius: 5px;
}

.url-bx p {
  margin-bottom: 0;
}

.share-qr.pt-5 {
  text-align: center;
}

.share-btn {
  display: flex;
  column-gap: 2%;
}

.sh-qr,
.sve-qr {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 4px 2px 1px #a5a0a0;
}

/* share card component end */

/* feedback component start */
.contain-template.back-g.fedb-t1 {
  background-image: url('../Images/bg/Blob-5.png'), url('../Images/bg/Blob-2.png'), url('../Images/bg/Blob-4.png');
  background-repeat: no-repeat;
  background-position: top left, center right, bottom left;
}


.feed-form {
  padding: 30px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 35px;
  position: relative;
  margin-top: 55px;
  margin-top: 55px;
  padding-top: 75px;
}

.heart-icon {

  width: 89px;
  height: 85px;
  position: absolute;
  border-radius: 50%;
  padding: 20px 10px;
  font-size: 27px;
  border: 1px solid #000;
  left: 38%;
  top: -42px;
  background: #fff;
}

.form-des input,
textarea {

  padding: 15px;
  border-radius: 15px;
  border: none;
  background: rgba(108, 82, 51, 0.1);
}

.feed-form1 h6 {
  text-align: left;
  margin-bottom: 0;
}

.feed-head h6 {
  margin-bottom: 35px;
}

.star {
  text-align: left;
  font-size: 22px;
  margin-bottom: 15px;
}

/* feedback component end */

/* menu */
.m-icons a {
  background: #fff;
  border-radius: 50px;
  padding: 12px 15px;
  margin-right: 5px;
  text-align: center;
}

.m-icons a:hover i {
  color: #fff;
}

.m-icons a:hover {
  background-color: #000;
}

.m-icons a p {
  display: none;
}

.bottom-menu {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(214, 235, 220, 0.8);
  border-radius: 50px;
}

.m-icons {
  text-align: center;
}

/* menu end */

/* share pop up */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.2);
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.whatsapp {
  color: #25d366;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  height: 56px;
}

/* share pop up end */

/* rating */
.review-card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.review-card {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
}

.stars {
  color: #f5a623;
}

.review-card .header {
  display: flex;
  position: relative;
}

.date {
  position: absolute;
  right: 0;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.load-more-button.ylw-btn,
.hide-reviews-button.ylw-btn {
  width: auto !important;
}

/* rating end */

/* map */
iframe {
  width: 100%;
  border: 1px solid;
  border-radius: 7px;
}

/* map end */

/* ------------------------------------------------------------------------------------ */

/* T2 */
.back-g-t2 {
  background: #EFC356;
}

.abt-head h2.t2,
.prod-head h2.t2,
.gal-head h2.t2,
.pay-head h2.t2,
.feed-head h2.t2,
.share-head h2.t2,
.feed-head h2.t2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.4);
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  background: #D9D9D9;
  width: 114%;
  position: absolute;
  margin: 0 -7%;
}

.abt-det.t2 p {
  font-family: "Lato", sans-serif;
}

.abt-head.t2,
.prod-head,
.reviwe-cmn .feed-head,
.feed-head {
  margin-bottom: 55px;
  position: relative;
}

.gal-head,
.pay-head,
.feed-head,
.share-head {
  margin-bottom: 95px;
  position: relative;
}

.back-g-t2.shar-t1 {
  background-image: url('../Images/bg/t2/Vector.png');
  background-repeat: no-repeat;
  background-position: center right;
}
.spl.abt.t2 h6 {
  font-weight: bold;
}
.spl.abt.t2 ul li {
  font-family: "Lato", sans-serif;
}
.spl.abt.t2 li::before {
  content: url('../Images/t2/paws.png');
  font-weight: bold;
  font-size: 33px;
  line-height: 0;
  padding-right: 10px;
}
.back-g-t2.abt-t1 {
  background-image: url('../Images/bg/t2/small-paws.png'),url('../Images/bg/t2/small-paws.png');
  background-repeat: no-repeat;
  background-position: right 10%, left 80%;
}
.share-btn.t2 .sh-qr , .share-btn.t2 .sve-qr {
  background: #CBC7C7;
  box-shadow: 1px 2px 3px;
}
.back-g-t2 p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
.feed-form .feed-head {
  margin-bottom: 15px;
}
.feed-head h6.t2 ,.feed-form1 h6.t2{
  font-size: 20px;
  font-weight: bold;
}
.back-g-t2.fedb-t1 .ylw-btn {
  background: #1A82AC;
  box-shadow: 1px 2px 3px;
}
.back-g-t2.fedb-t1 {
  background-image: url('../Images/bg/t2/paw1.png'),url('../Images/bg/t2/paw2.png');
  background-repeat: no-repeat;
  background-position: left 8%, right 76%;
}
.pay1 h6.t2 {
  font-size: 20px;
  font-weight: bold;
}
.back-g-t2.paym-t1 {
  background-image: url('../Images/bg/t2/paw1.png');
  background-repeat: no-repeat;
  background-position: left 22%;
}
.back-g-t2.galy-t1 {
  background-image: url('../Images/bg/t2/paw2.png'),url('../Images/bg/t2/small-paws.png') ;
  background-repeat: no-repeat;
  background-position: right top,left bottom;
}
.back-g-t2.prod-t1{
  background-image: url('../Images/bg/t2/paw2.png'), url('../Images/bg/t2/small-paws.png');
  background-repeat: no-repeat;
  background-position: right 7%,left bottom;
}
.enq-sec.mt-5 h5.t2 {
  font-weight: bold;
}
.kfeature h6.t2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.kfeature ul li.t2 {
  font-family: "Lato", sans-serif;
}
.logo-t1.t2 {
  margin-top: 0 !important;
  border-radius: 50%;
  height: 244px;
}
.temp-head.mt-4 h1.t2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 43px;
  background: linear-gradient(to bottom, #223D3A, #018A80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.temp-head h3.t2 {
  text-align: center;
  font-weight: 600;
  padding: 15px 0;
}
.temp-head p.t2 {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
.share-btn.t2 button.sh-qr.hme.t2{
  background-color: #1A82AC;
  color: #fff;
  box-shadow: none;
  padding: 18px;
  border-radius: 50px;
  font-size: 24px;
    font-family: "Lato", sans-serif;
}
.social-icon.t2 a i {
  color: #fff;
  font-size: 40px;
  background-color: #1A82AC;
  padding: 9px 16px;
  border-radius: 10px;
  margin: 0px 10px;
  padding-top: 0px;
}
.sh-qr.t2:hover {
  background-color: #1d4ed8; /* blue-700 */
  color: #f3f4f6; /* gray-100 */
}
.back-g-t2.hm-t2 {
  background-image: url('../Images/bg/t2/small-paws.png'), url('../Images/bg/t2/small-paws.png');
  background-repeat: no-repeat;
  background-position: 78% 38%,25% 80%;
}
.back-g-t2.featu-t1 {
  font-family: "Lato", sans-serif;
}
.fea-cmn h6.t2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.back-g-t2.featu-t1 p {
  font-weight: 600;
}
.back-g-t2.featu-t1 {
  background-image: url('../Images/bg/t2/small-paws.png'), url('../Images/bg/t2/paw1.png');
  background-repeat: no-repeat;
  background-position: 42% 7% ,left 75%;
}
.back-g-t2 .copy-cmn p {
  font-size: 21px;
  font-weight: 500;
}
.bottom-menu.t2 {
  background: rgba(255,255,255, 0.6);
}
/* T2 end */
/* ------------------------------------------------------------------------------------------------------------------ */
/* t3 start */
.share-head h2.t3, .feed-cmn h2.t3, .feed-head h2.t3, .pay-head h2.t3, .gal-head h2.t3,.abt-head h2.t3, .prod-head h2.t3 {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.4);
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 1px;
  background: #A30239;
  width: 114%;
  position: absolute;
  margin: 0 -7%;
  color: #fff;
}
.abt-head.t3,
.prod-head,
.reviwe-cmn .feed-head,
.feed-head {
  margin-bottom: 55px;
  position: relative;
}
.back-g-t3 .url-bx {
  background: #C4C3C3;
  box-shadow: none;
}
.share-btn.t3 .sh-qr, .share-btn.t3 .sve-qr {
  background-color: #A30239;
  box-shadow: none;
  color: #fff;
}
.back-g-t3 {
  background: #0D0F1B;
}
.template-bg3 {
  background-color: #ccc;
}
.back-g-t3 p {
  color: #fff;
}
.back-g-t3.shar-t1, .back-g-t3.fedb-t1, .back-g-t3.galy-t1, .back-g-t3.prod-t1 {
  background-image: url('../Images/bg/t3/bg.png');
  background-repeat: no-repeat;
  background-position: 84%;
  background-size: 18% 101%;
}
.back-g-t3.fedb-t1 .header h3 {
  color: #A30239;
}
.back-g-t3.fedb-t1 .review-card {
  border: 1px solid #fff;
}
.back-g-t3.fedb-t1 .header span.date {
  color: #fff;
}
.back-g-t3.fedb-t1 .load-more-button.ylw-btn {
  background-color: #A30239;
  color: #fff;
  box-shadow: none;
}
.back-g-t3.fedb-t1.bg, .back-g-t3.paym-t1,.back-g-t3.abt-t1, .back-g-t3.featu-t1{
 background-image: url('../Images/bg/t3/bg.png');
  background-repeat: no-repeat;
  background-position: 15%;
  background-size: 18% 101%;
}
.back-g-t3.fedb-t1 .feed-form {
  border: 1px solid aliceblue;
}
.back-g-t3.fedb-t1 .feed-head h6.t3, .feed-form1 h6.t3 {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.back-g-t3.fedb-t1 .form-des input, textarea {
  background: #fff;
}
.back-g-t3.fedb-t1 .ylw-btn{
  background-color: #A30239;
  box-shadow: none;
  color: #fff;
}
.pay-det h6.t3 {
  color: #fff;
}
.spl.abt.t3 h6.t3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.spl.abt.t3 ul li {
  color: #fff;
}

.spl.abt.t3 li::before {
  content: url('../Images/t3/camera.png');
  padding-right: 10px;
}
.kfeature h6.t3,.kfeature ul li.t3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.enq-sec h5.t3 {
  font-family: "Poppins", sans-serif;
}
.fea-cmn h6.t3 {
  color: #fff;
}
.logo.t3 {
  text-align: center;
}
.temp-head.mt-4 h1.t3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 43px;
  background: linear-gradient(to bottom, #005499, #94CFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.temp-head h3.t3 {
  color: #98C6FF;
  font-size: 19px;
  text-align: center;
}
.temp-head p.t3, .infot1.t3 p {
  font-weight: 200;
  line-height: 26px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.infot1.t3 p{
  text-align: left;
  gap: 20px;
}
.infot1.t3 i {
  color: #fff;
  font-size: 44px;
}
.sh-qr.hme.t3 {
  padding: 16px;
  border-radius: 50px;
  font-size: 20px;
}
.social-icon.t3 a i {
  color: #fff;
  font-size: 27px;
}

.bottom-menu.t3 {
  background: rgba(163, 2, 57, 0.4);
}
/* t3 end */
/* ------------------------------------------------------------------------------------------------------------------- */
/* t4 start */
.back-g-t4.shar-t1 {
  background-image: url('../Images/bg/t4/boba-1.png');
  background-repeat: no-repeat;
  background-position: right 37%;
}
.share-btn.t4 .sh-qr ,.share-btn.t4 .sve-qr{
  background: #CBC7C7;
  box-shadow: 1px 2px 3px;
}
.back-g-t4.shar-t1 .url-bx {
  box-shadow: 1px 2px 5px;
}
.back-g-t4 {
  background: #E3C3B6;
}
.share-head h2.t4,.feed-head h2.t4, .back-g-t4.paym-t1 h2.t4, .back-g-t4.galy-t1 h2.t4,.back-g-t4.prod-t1 h2.t4, .abt-head.pb-3.t4 h2.t4 {
    font-family: "Playfair Display SC", serif;
  font-weight: 900;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.4);
  font-size: 36px;
}
.back-g-t4.paym-t1 .pay-head, .back-g-t4.galy-t1 .gal-head , .back-g-t4.prod-t1 .prod-head{
  margin-bottom: 0;
}
.back-g-t4 .share-head {
  margin-bottom: 20px;
}
.back-g-t4.fedb-t1.bg, .back-g-t4.paym-t1,.back-g-t4.prod-t1{
  background-image: url('../Images/bg/t4/boba-2.png'), url('../Images/bg/t4/boba-1.png');
  background-repeat: no-repeat;
  background-position: left 20%,right 82%;
}
.back-g-t4.fedb-t1.bg h6 {
  font-family: "Poppins", sans-serif; 
}
.back-g-t4.fedb-t1.bg .form-des input, textarea {
  background: rgba(108, 82, 51, 0.1);
  font-family: "Poppins", sans-serif;
}
.back-g-t4.fedb-t1 .ylw-btn {
  background: #D4A476;
  box-shadow: 1px 2px 3px;
}
.back-g-t4.fedb-t1, .back-g-t4.featu-t1 {
  background-image: url('../Images/bg/t4/boba-1.png'), url('../Images/bg/t4/boba-2.png');
  background-repeat: no-repeat;
  background-position: right 10%,left 80%;
}
.pay1 h6.t4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.logo.t4 {
  text-align: center;
}
.temp-head h1.t4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #271908;
  text-align: center;
}
.temp-head h3.t4 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #252525;
}
.temp-head p {
  color: #272626;
  text-align: center;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.social-icon.t4 a i {
  color: #fff;
  background: #271908;
  padding: 19px 20px;
  padding-top: 11px;
  font-size: 35px;
  border-radius: 9px;
  margin: 5px;
}
.sh-qr.hme.t4 {
  background: #D4A476;
  color: #fff;
  box-shadow: none;
  padding: 20px 10px;
  border-radius: 50px;
  font-size: 25px;
}
.contain-template.bottom-menu.t4 {
  background: rgba(39, 25, 8, 0.5);
}
.back-g-t4.hm-t4 {
  background-image:url('../Images/bg/t4/boba-full.png'), url('../Images/bg/t4/leaf.png') ;
  background-repeat: no-repeat;
  background-position: 80% center,left bottom;
}
/* t4 end */
/* ----------------------------------------------------------------------------------------------------------------- */
/* t5 start */
.contain-template.back-g-t5 {
  background: #FFF1D1;
}
/* t5 end */