/* home component t1*/
.contain-template.back-g.hm {
  background-image: url('../Images/bg/Blob.png'), url('../Images/bg/Blob-1.png');
  background-repeat: no-repeat no-repeat;
  background-position: 0 60%, bottom right;
}

.logo-t1 {
  background: #D6EBDC;
  width: auto;
  top: 16px;
  border-radius: 0 00px 90px 90px;
  padding: 24px 15px;
  text-align: center;
  margin-top: -15px !important;
  margin: auto;
}

.btn-a {
  width: 130px;
  background: #D9D9D9;
  font-size: 17px;
  padding: 5px 20px;
  border-radius: 50px;
  margin: auto;
  text-align: center;

}

.temp-hme.btn1 {
  display: flex;
  gap: 10px;
}

.btn-a a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.infot1 {
  display: flex;
  gap: 27px;
}

.infot1 i {
  color: #2F88FF;
  font-size: 24px;
  line-height: 0px;
}

.infot1 p {
  font-weight: 600;
  font-size: 16px;
}

.social-icon {
  text-align: center;
  font-size: 24px;
}

.social-icon i {
  padding: 5px 10px;
}

/* home component t1 end */

/* about component css */
.contain-template.back-g.abt-t1 {
  background-image: url('../Images/bg/Blob-2.png'), url('../Images/bg/Blob-4.png');
  background-repeat: no-repeat;
  background-position: right 18%, bottom left;
}

.abt-det {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 1rem;
  margin-bottom: 0rem;
}

.label {
  font-weight: bold;
}

.value::before {
  content: " : ";
}

.value {
  word-break: break-word;
}

.spl.abt li::before {
  content: '. ';
  /* Custom numbering */
  font-weight: bold;
  font-size: 33px;
  line-height: 0;
}

/* abount coponent end */

/* Product Component start */
.contain-template.back-g.prod-t1 {
  background-image: url('../Images/bg/Blob-5.png'), url('../Images/bg/Blob-6.png');
  background-repeat: no-repeat;
  background-position: left 8%, right 69%;
}

.prod-det img,
.kfeature img {
  width: 25px;
}

.kfeature img {
  width: 20px;
}

/* .kfeature ul li{
    position: relative;
    padding-left: 24px;
  }
  .kfeature ul li::before{
    content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('../Images/Icons/check.png');
  background-size: contain;
  background-repeat: no-repeat;
  } */

.kfeature ul li img {
  width: 20px;
  margin-right: 5px;
}

.prod-img {
  text-align: center;
}

.enq-sec {
  background: #ECDAC4;
  border-radius: 50px;
  display: flex;
  padding: 10px 25px;
  position: relative;
}

.enq-sec a {
  background: #E3C72C;
  border: 1px solid #E3C72C;
  border-radius: 50px;
  font-size: 16px;
  right: 25px;
  position: absolute;
  padding: 5px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.enq-sec h5.t1 {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  padding: 4px 0;
}

/* Product component end */

/* feature component start */
.contain-template.back-g.featu-t1 {
  background-image: url('../Images/bg/Blob-7.png'), url('../Images/bg/Blob-8.png'), url('../Images/bg/blog-9.png');
  background-repeat: no-repeat;
  background-position: right top, left 38%, right bottom;
}

.fea-det img {
  width: 20px;
}

.fea1 p.strong {
  margin-bottom: 0;
}

/* feature component end */

/* payment component start */
.contain-template.back-g.paym-t1 {
  background-image: url('../Images/bg/Blob.png'), url('../Images/bg/Blob-2.png');
  background-repeat: no-repeat;
  background-position: left 1%, right;
}

.pay1 h6 {
  font-size: 19px;
}

.pay1 img {
  width: 25px;
}

.pay1 .abt-det p {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.pay1 .abt-det {
  grid-template-columns: 46% 54%;
}

.pay-img {
  text-align: center;
}

/* payment component end */

/* gallery component start */
.contain-template.back-g.galy-t1 {
  background-image: url('../Images/bg/Blob-7.png'), url('../Images/bg/Blob-5.png');
  background-repeat: no-repeat;
  background-position: right top, left 90%;
}
.gallry-img {
  text-align: center;
}
.gallry-img img:hover {
  transform: scale(1.09);
}
.gallry-img img {
  transition:0.5s;
}
/* gallery component end */

/* copy rights */
.copy-cmn {
  text-align: center;
}

.copy-cmn p {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 200;
}

/* copy rights end */
/* share card component start */

.contain-template.back-g.shar-t1 {
  background-image: url('../Images/bg/Blob-2.png'), url('../Images/bg/Blob-4.png');
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.share-btn button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.url-bx {
  background-color: #fff;
  box-shadow: 0px 3px 2px 4px #ebebeb;
  padding: 12px;
  border-radius: 5px;
}

.url-bx p {
  margin-bottom: 0;
}

.share-qr.pt-5 {
  text-align: center;
}

.share-btn {
  display: flex;
  column-gap: 2%;
}

.sh-qr,
.sve-qr {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 2px 2px #ccc;
}

/* share card component end */

/* feedback component start */
.contain-template.back-g.fedb-t1 {
  background-image: url('../Images/bg/Blob-5.png'), url('../Images/bg/Blob-2.png'), url('../Images/bg/Blob-4.png');
  background-repeat: no-repeat;
  background-position: top left, center right, bottom left;
}


.feed-form {
  padding: 30px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 35px;
  position: relative;
  margin-top: 55px;
  margin-top: 55px;
  padding-top: 75px;
}

.heart-icon {

  width: 89px;
  height: 85px;
  position: absolute;
  border-radius: 50%;
  padding: 20px 10px;
  font-size: 27px;
  border: 1px solid #000;
  left: 38%;
  top: -42px;
  background: #fff;
}

.form-des input,
textarea {

  padding: 15px;
  border-radius: 15px;
  border: none;
  background: rgba(108, 82, 51, 0.1);
}

.feed-form1 h6 {
  text-align: left;
  margin-bottom: 0;
}

.feed-head h6 {
  margin-bottom: 35px;
}

.star {
  text-align: left;
  font-size: 22px;
  margin-bottom: 15px;
}

/* feedback component end */

/* menu */
.m-icons a {
  background: #fff;
  border-radius: 50px;
  padding: 12px 15px;
  margin-right: 5px;
  text-align: center;
}
.m-icons a:hover i {
  color: #fff;
}
.m-icons a:hover  {
  background-color: #000;
}
.m-icons a p {
  display: none;
}
.bottom-menu {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(214, 235, 220, 0.8);
    border-radius: 50px;
}
.m-icons {
  text-align: center;
}
/* menu end */

/* share pop up */
  .popup-backdrop {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.2);
}

.facebook { color: #3b5998; }
.twitter { color: #1da1f2; }
.whatsapp { color: #25d366; }

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
/* share pop up end */

/* rating */
.review-card h3{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.review-card {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
}
.stars {
  color: #f5a623;
}
.review-card .header {
  display: flex;
  position: relative;
}
.date {
  position: absolute;
  right: 0;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.load-more-button.ylw-btn,.hide-reviews-button.ylw-btn{
  width: auto !important;
}
/* rating end */